@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

:root{
    --auto-margin-width: 95%;
    --dark-blue: #1F2833;
    --dark-blue-faded: rgba(31, 40, 51, 0.8);
    --light-grayish-blue: #C5C6C7;
    --very-light-grayish-blue: #cccdcf;
    --blue:#45A29E;
    --light-grayish-blue-faded: rgba(202, 220, 238, 0.9);
    --header-1-size: 2rem;
    --header-1-margins: 15px;
    --header-2-margins: 10px;
    --section-top-bottom-padding:5% 0;
    --projects-max-width: 400px;
    --skills-paragraph-size: 1.4rem;
    --skills-container-margin-bottom: 30px;
    --skills-left-grid-column: 1 / 4;
    --skills-right-grid-column: 4 / 5;
}

.nav{
    height: 80px;
    background-color: var(--dark-blue);
    color: var(--blue);
    max-width: 100vw;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav__flex-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--auto-margin-width);
    margin: 0 auto;
}

.nav__link--header{
    color: var(--blue);
    text-decoration: none;
    font-size: 1.0rem;
}

.nav__button{
    background-color: var(--dark-blue);
    border: none;
    cursor: pointer;
}

.nav__hamburger{
    width: 55px;
}

.nav__bun{
    height:9px;
    background: var(--blue);
    transition: 300ms;
}

@keyframes rotate-back-and-forth{
    0% {transform: rotate(0);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(0);}
}

@media (hover: hover) and (pointer: fine) {
    .nav__x-active:hover {
        animation-name: rotate-back-and-forth;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        }

    .nav__hamburger-active:hover .nav__bun--top{
        transform: translateY(-3px);
    }
        
        
    .nav__hamburger-active:hover .nav__bun--bot{
        transform: translateY(3px);
    }
  }


.nav__bun--top-active{
    transform: translateY(18px) rotate(45deg);
}

.nav__bun--bot-active{
    transform: translateY(-18px) rotate(-45deg);
}

.nav__bun--mid-active{
    background-color: var(--dark-blue);
}

.nav__bun:not(:last-child){
    margin-bottom: 9px;
}

.nav__item-container{
    position: absolute;
    right: 0;
    transition: 300ms top;
}

.nav__item{
    display: none;
}

.nav__item--active{
    display: block;
}

.nav-menu-active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    top: 80px;
    font-size: 2rem;
    font-weight: 700;
    background: var(--dark-blue);
    min-width: 100vw;
    height: 250px;
}

.nav__link{
    color: var(--blue);
    text-decoration: none;
    transition: 0.2s color;
    position: relative;
}

.nav__link:hover{
    color: var(--light-grayish-blue)
}

.about::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(../images/hero-image.jpg);/*from unsplash*/
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}

.about{
    display: flex;
    align-items: center;
    max-width: 100vw;
    padding: 10% 0;
    color: var(--dark-blue);
    position: relative;
}

.about__flex-container{
    margin: 0 auto;
    width: var(--auto-margin-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__profile-description{
    width: 80%;
}

.about__profile-header-container{
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}

.about__profile-name{
    font-size: 2rem;
    padding-bottom: 15px;
}

.about__header-3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.about__header-4{
    font-size: 1.2rem;
    line-height: 1.5;
}

.about__paragraph{
    font-size: 1.2rem;
    line-height: 1.3;
    width: 90%;
    margin: 0 auto;
}

.projects{
    background: var(--very-light-grayish-blue);
    max-width: 100vw;
    padding: var(--section-top-bottom-padding);
}

.projects__container{
    margin: 0 auto;
    width: var(--auto-margin-width);
}

.projects__header-1{
    font-size: var(--header-1-size);
    color: var(--blue);
    margin-bottom: var(--header-1-margins);
}

.projects__project-container{
    transform: translateX(-100px);
    opacity: 0;
}

.projects__flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-translated{
    transform: translateX(0px);
    transition: 325ms;
    opacity: 1;
}

.projects__project-img{
    margin-bottom: 15px;
    width: 80vw;
    max-width: var(--projects-max-width);
    height: 40vw;
    max-height: 200px;
    border-radius: 5px;
}

.projects__text-container{
    width: 80vw;
    max-width: var(--projects-max-width);
    color: var(--dark-blue);
}

.projects__header-2{
    margin-bottom: 15px;
}

.projects__link{
    color: var(--dark-blue);
    font-size:0.9rem;
}

.projects__link:hover{
    color: var(--dark-blue-faded)
}

.projects__paragraph{
    margin-bottom: 15px;
    line-height: 1.25;
}

.projects__header-5{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.projects__technologies-list{
    list-style: none;
    margin-bottom: 20px;
}

.projects__technologies-item{
    display: inline;
}



.skills{
    background: #fff;
    max-width: 100vw;
    padding: var(--section-top-bottom-padding);
}

.skills__container{
    margin: 0 auto;
    width: var(--auto-margin-width);
}

.skills__header-1{
    font-size: var(--header-1-size);
    color: var(--blue);
    margin-bottom: var(--header-1-margins);   
}

.skills__grid-item{
    margin-bottom: 50px;
}

.skills__header-2{
    color: var(--blue);
    margin-bottom: var(--header-2-margins);
}

.skills__skills-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills__container{
    margin-bottom: var(--skills-container-margin-bottom);
}
.skills__icon{
    height: 25vw;
    width: 25vw; 
}

.skills__text{
    font-size: var(--skills-paragraph-size);
    color: var(--blue);
}

.contact{
    background: var(--dark-blue);
    max-width: 100vw;
    padding: var(--section-top-bottom-padding);
}

.contact__container{
    margin: 0 auto;
    width: var(--auto-margin-width);
}

.contact__header-1{
    font-size: var(--header-1-size);
    color: var(--blue);
    margin-bottom: var(--header-1-margins);
}

.contact__phone-email-container{
    padding-bottom: 15px;
}
.contact__header-2{
    color: var(--blue);
}

.contact__header-4{
    padding-bottom: 10px;
}
.contact__link{
    color: var(--light-grayish-blue);
}

.contact__social-list{
    display: flex;
    list-style: none;
}

.contact__social-icon:not(:last-child){
    margin-right: 10px;
}

@media(min-width:1000px){
    .nav__link--header{
        font-size: 1.5rem;
    }

    .nav-menu-active{
        all: unset;    
    }

    .nav__item-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        position: static;
    }

    .nav__item{
        display: inline;
    }

    .nav__item:not(:last-child){
        margin-right: 20px;
    }

    .nav__hamburger{
        display: none;
    }

    .nav__link::before{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: 0.4s ease-in;
        width: 100%;
        height: 3px;
        transform: scale(0);
        transform-origin:0 50%;
    }

    .nav__link:hover::before{
        background: var(--light-grayish-blue);
        transform: scale(1);
        transform-origin:0 50%;
    }
    
    
    .about__profile-description{
        display: flex;
        max-width: 1000px;
    }
    
    .about__profile-header-container{
        padding: 0;
    }
    
    .about__paragraph{
        font-size: 1.5rem;
    }

    .projects__flex-container{
        flex-direction: row;
        align-items: initial;
        margin: 0 auto;
    }

    .projects__project-img{
        margin-right: 50px;
    }

    .projects__text-container{
        max-width: 50vw;
    }
    
    .skills__grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 85vw;
        margin: 0 auto;
    }

    .skills__grid-item{
        box-shadow: 0 0 15px var(--light-grayish-blue);
        border-radius: 10px;
        margin-bottom: 0;
        padding: 20px;
        display: flex;
    }

    .skills__flex-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .skills__container--main{
        grid-column: var(--skills-left-grid-column);
    }

    .skills__container--other-languages{
        grid-column: var(--skills-right-grid-column);
    }

    .skills__container--version-control{
        grid-column: var(--skills-left-grid-column);
    }

    .skills__container--cms{
        grid-column: var(--skills-right-grid-column);
    }

    .skills__skills-container{
        grid-template-columns: repeat(auto-fit, 25vw);
        justify-content: center;
    }

    .skills__skill-container{
        margin: 0;
    }

    .skills__icon{
        width: 15vw;
        height: 15vw;
    }
}

@media(min-width:1100px){
    .about__flex-container{
        justify-content: center;
    }

    .about__profile-container{
        border: none;
        border-radius: 5px;
        padding: 0;
    }
    
    .about__profile-img{
        height:350px;
        width: 350px;
        border-radius: 50%;
        object-fit: cover;
    }

    .about__paragraph-container{
        padding: 0;
    }
}